.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 30px 50px;
}
nz-breadcrumb {
  margin: 16px 0;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.form-content{
  background: #fff;
  padding: 24px;
  min-height: 80px;
  margin-bottom: 40px;
}
.toDoColumn{
  background: #fff;
  padding: 24px;
  min-height: 80px;
  margin-right:10px
}
.compltedColumn{
  background: #fff;
  padding: 24px;
  min-height: 80px;
  margin-left: 10px;
}
