<nz-layout style="height: fit-content">
  <h2> TO DO APP </h2>
  <nz-content>
    <div class="form-content">
      <app-taskForm (task)="receiveTask($event)"></app-taskForm>
    </div>
    <div nz-row>
      <div nz-col [nzXs]='24' [nzSm]='24' [nzMd]="24" [nzLg]="12" [nzXl]="12">
        <h3>To Do List</h3>
        <nz-table #todoTask [nzData]="toDoList" nzSize="small" [nzShowPagination]="false"
          [nzNoResult]="'You are free Today'" class="toDoColumn">
          <tbody>
            <tr *ngFor="let data of todoTask.data; let i = index">
              <td style="width:20%">
                <a (click)="compltedTask(data, i)" style="padding-right: 20px">
                  <i nz-icon [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i></a>
                <a (click)="removeTask(i)"><i nz-icon nzType="delete" style="color: red" nzTheme="outline"></i></a>
              </td>
              <td>{{ data.myTask }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div nz-col [nzXs]='24' [nzSm]='24' [nzMd]="24" [nzLg]="12" [nzXl]="12">
        <h3 style="margin-left:10px">Completed Task</h3>
        <nz-table #competedTask [nzData]="compltedTaskList" nzSize="small" [nzNoResult]="'Nothing Done Today'"
          nzShowPagination="false" class="compltedColumn">
          <tbody>
            <tr *ngFor="let data of competedTask.data; let i = index">
              <td style="width:5%">
                <a (click)="redoTask(data, i)" style="padding-right: 20px">
                  <i nz-icon style="color: rgb(89, 47, 255)" nzType="redo" nzTheme="outline"></i></a>
              </td>
              <td>{{ data.myTask }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-content>
  <nz-footer>To-Do-App ©2022 Designed by Jay On Angular</nz-footer>
</nz-layout>